doctype html
html
  head
    title SnapClient
    link(rel="stylesheet", href="styles.css")
  body
    .wrapper
      header
        .center
          h1.title SnapClient
          hr
          .info
            h4 Gather client emails in a snap!
            p.small Set up a phone number with SnapClient, and have your future clients text their information. SnapClient will automatically update your mailing list with their information!
      .next see more
      section.instructions
        
    